<!-- <app-header></app-header> -->
<div>
  <div style="margin: 2%">
    <button
      mat-stroked-button
      routerLink="/employee/add-employee"
      style="background: #3f51b5; color: white"
    >
      Add Employee
    </button>
  </div>
  <div>
    <app-app-grid [gridOptions]="gridOptions"></app-app-grid>
    <!-- <mat-table [dataSource]="dataList" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef [ngClass]="'w-75'">
          id
        </mat-header-cell>
        <mat-cell
          *matCellDef="let element"
          [ngClass]="'w-75'"
        >
        <span [appChangeColor]="element">{{ element.id }}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="mobile">
        <mat-header-cell *matHeaderCellDef> Mobile </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.mobile }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="joiningDate">
        <mat-header-cell *matHeaderCellDef> JoiningDate </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.joiningDate | date : 'dd/MM/yyyy' }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="departmentId">
        <mat-header-cell *matHeaderCellDef> DepartmentName </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.department.name }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="offeredSalary">
        <mat-header-cell *matHeaderCellDef> Offered Salary </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.offeredSalary | number : '1.2-2' }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef> IsActive </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.isActive | status }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button
            class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"
            style="margin-right: 5px"
            [routerLink]="['/employee/edit-employee', element.id]"
          >
            <mat-icon
              aria-hidden="false"
              aria-label="Example create icon"
              fontIcon="create"
            ></mat-icon>
          </button>
          <button
            class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm"
            (click)="openDialog(element.id)"
          >
            <mat-icon
              aria-hidden="false"
              aria-label="Example delete icon"
              fontIcon="delete"
            ></mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page of employee"
    >
    </mat-paginator> -->
  </div>
</div>
